@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #000;
  /* Preto (pode ser usado no fundo ou detalhes) */
  --secondary-color: #f5f5f5;
  /* Cinza claro */
  --button-color: #000;
  /* Preto para botões */
  --accent-color: #007bff;
  /* Azul (para outros elementos, se necessário) */
  --background-color: #fafafa;
  /* Fundo principal */
  --text-color: #333;
  /* Texto padrão */
  --error-color: #ff4d4f;
  /* Vermelho para erros */
  --success-color: #28a745;
  /* Verde para sucesso */
  --hover-color: #0056b3;
  /* Azul escuro para hover */
}